<!DOCTYPE html>
<html>
  <%- include("../../partials/header"); -%>

    <title>Page Title</title>
  </head>
 
  <link rel="stylesheet" href="/stylesheets/userDocSection/docfiles/patientInfo.css">
  <body id="body-pd">
    <%-include("../../partials/altNavbar"); -%>
    <%-include("../../partials/altSidebar");-%>

    <div class="content-block">
      <div class="flex-container">
      <div class="flex-child patInfo">
        <p>
          <span>
            Mr./Ms./Mrs.:
            <a>  </a>  <!--<%= //rows.name %>-->
          </span>
        </p>
        <p>
          <span>
            Age:
            <a>  </a>  <!--<%= //rows.age %>-->
          </span>
        </p>
        <p>
          <span>
            Address:
            <a>  </a>  <!--<%= //rows.address %>-->
          </span>
        </p>
        <p>
          <span>
            Contact:
            <a> </a>  <!--<%= //rows.contact %>-->
          </span>
        </p>
      </div>
    </div>
      <hr>
      <div class="history">
        <div class="row">

          <div class="col1">
            <div class="card">
              <div class="card-body">
                <div class="test">
                  <table>
                    <thead>
                      <tr class="table100-head">
                        <th class="column1">Recommended Test</th>
                      </tr>
                    </thead>
                    <tbody id="back">
                      <tr>
                        <td class="column1">X-Ray</td>
                      </tr>
                      <tr>
                        <td class="column1">X-Ray</td>
                      </tr>
                      <tr>
                        <td class="column1">X-Ray</td>
                      </tr>
                      <tr>
                        <td class="column1">X-Ray</td>
                      </tr>
                      <tr>
                        <td class="column1">X-Ray</td>
                      </tr>
                      <tr>
                        <td class="column1">CT-Scan</td>
                      </tr>
                      <tr>
                        <td class="column1">Blood-Test</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col2">
            <div class="card">
              <div class="card-body">
                <div class="medicine" id="front">
                  <table>
                    <thead>
                      <tr class="table100-head">
                        <th class="column1">Medicine</th>
                        <th class="column2">Power</th>
                        <th class="column3">Dosage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr>
                      <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr>
                      <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr> <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr> <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr> <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr> <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr> <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr> <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col1">
            <div class="card">
              <div class="card-body">
                <div class="test">
                  <table>
                    <thead>
                      <tr class="table100-head">
                        <th class="column1">Comments</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                      <tr>
                        <td class="column1">X-Ray</td>
                      </tr>
                      <tr>
                        <td class="column1">CT-Scan</td>
                      </tr>
                      <tr>
                        <td class="column1">Blood-Test</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      <hr id="historyDivider">
    </div>

    </div>













    <%-include("../../partials/footer"); -%>
    
</body>

</html>
