<!DOCTYPE html>
<html>
  <%- include("../../partials/header"); -%>

    <title>Doctor's Info</title>
  </head>
 
  <link rel="stylesheet" href="/stylesheets/userDocSection/docfiles/patientInfo.css">
  <body id="body-pd">
    <%-include("../../partials/altNavbar"); -%>
    <%-include("../../partials/altSidebar");-%>

    <div class="content-block">
      <div class="flex-container">
      <div class="flex-child patInfo">
        <div class="row">
          <div class="col-md-12">
          <strong style="display: inline;">Doctor Name: </strong>  <%= foundPatient.firstName + " " + foundPatient.lastName %> 
        </div>
      </div>
         
     
      <div>
          <strong>Experience:</strong>  <%= foundPatient.phone %>
            
        </div> 
        <div>
          <strong>Qualification:</strong>  <%= foundPatient.phone %>
            
        </div> 
        <div>
          <strong>Speciality:</strong>  <%= foundPatient.phone %>
            
        </div> 
        <div>
          <strong>Consultation Hours:</strong>  <%= foundPatient.phone %>
            
        </div> 
        
        
        <div>
          <strong>Gender:</strong>  <%= foundPatient.gender %>
        </div>

      </div>
  
   
    </div>
      <hr>
      <%for(var i=0;i<foundPatientMedicalRecords[0].prescription.length;i++){%>
      <div class="history">
        <div id="timeline">
          <strong>Date:</strong>  <%= foundPatientMedicalRecords[0].prescription[i].date %>

        </div>
        <div class="row">

          <div class="col1">
            <div class="card">
              <div class="card-body">
                <div class="test">
                  <table>
                    <thead>
                      <tr class="table100-head">
                        <th class="column1">Recommended Test</th>
                      </tr>
                    </thead>
                    <tbody id="back">
                      <%for(var j=0;j<foundPatientMedicalRecords[0].prescription[i].test.length;j++){%>
                      <tr>
                        <td class="column1"><%=foundPatientMedicalRecords[0].prescription[i].test[j].testName%></td>
                      </tr>
                      <%}%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col2">
            <div class="card">
              <div class="card-body">
                <div class="medicine" id="front">
                  <table>
                    <thead>
                      <tr class="table100-head">
                        <th class="column1">Medicine</th>
                        <th class="column2">Power</th>
                        <th class="column3">Dosage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%for(var k=0;k<foundPatientMedicalRecords[0].prescription[i].medicines.length;k++){%>
                      <tr>
                        <td class="column1"><%=foundPatientMedicalRecords[0].prescription[i].medicines[k].medicineName%></td>
                        <td class="column2"><%=foundPatientMedicalRecords[0].prescription[i].medicines[k].dosage%></td>
                        <td class="column3"><%=foundPatientMedicalRecords[0].prescription[i].medicines[k].frequency%></td>
                      </tr>
                      <%}%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col1">
            <div class="card">
              <div class="card-body">
                <div class="test">
                  <table>
                    <thead>
                      <tr class="table100-head">
                        <th class="column1">Comments</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="column1"><%=foundPatientMedicalRecords[0].prescription[i].comment%></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      <hr id="historyDivider">
     
    </div>
    <%}%>
    </div>
    <%-include("../../partials/footer"); -%>

</body>

</html>