<!DOCTYPE html>
<html>
  <%- include("../../partials/header"); -%>

  <title>Page Title</title>
  </head>
  <link rel="stylesheet" href="/stylesheets/userDocSection/docfiles/patientList.css">
  <link rel="stylesheet" href="/stylesheets/userDocSection/patFiles/docList.css">
  <style>
    .checked{
      color: orange;
    }
  </style>
  <body id="body-pd" >
    <%-include("../../partials/altNavbar"); -%>
    <%-include("../../partials/altSidebar");-%>
    <div class="content-block">
        <div class="card">
          <div id="patientList">
          <table>
            <h4 style="text-align: center;margin-bottom: 1rem;"><strong>Doctor's Availabitity List </strong></h4>
            </h4>
            <thead>
              <tr class="table100-head">
                <th class="column1">S.N</th>
                <th class="column1">Name</th>
                <th class="column1">Specialisation</th>
                <th class="column1">Rating</th>
                <th class="column1">Action</th>
              </tr>
            </thead>
            <tbody id="front">
              <%for(var i=0;i<doctors.length;i++){%>
                <% console.log(doctors[i])%>
              <tr>
                <td class="column1"><%=i+1%></td>
                <td class="column1"><%=doctors[i].handler_id.firstName+" "+doctors[i].handler_id.lastName%></td>
                <td class="column1"><%=doctors[i].speciality%></td>
                <td class="column1">
                  <% nostardata = Math.ceil(doctors[i].rating) %>
                  <%let fullstardata = Math.floor(doctors[i].rating) %>
                  <% let halfstardata = doctors[i].rating - fullstardata%>
                  <% while(fullstardata>0) { %>
                    <span class="fa fa-star checked"></span>
                  <% fullstardata -= 1; } %>
                  <% if(halfstardata > 0) { %>
                    <span class="fa fa-star-half checked"></span>
                  <% } %>
                  <% while(5 - nostardata > 0) { %> 
                    <span class="fa fa-star"></span>
                  <% nostardata++; } %>
                </td>
                <td class="column1">
                  <% if(!currentUser.currentDoctors || !currentUser.currentDoctors.includes(doctors[i]._id)){ %>
                  <div class="appntBtn">
                      <a href="/userDocSection/docList/docInfo/<%= doctors[i]._id %>" class="btn btn-success">
                        Book Appointment
                      </a>
                  </div>
                  <% } else { %>
                    <p style="color: green;"><strong>Appointment Already Active!</strong></p>  
                  <% } %>
                </td>
              </tr>
              <%}%>
            </tbody>
          </table>
        </div>
        </div>

    </div>
    <%-include("../../partials/footer"); -%>
  </body>
</html>

