<!DOCTYPE html>
<html>
  <%- include("../../partials/header"); -%>

    <title>Page Title</title>
  </head>
 <link rel="stylesheet" href="/stylesheets/userDocSection/docfiles/patientList.css">
 
  <body id="body-pd">
    <%-include("../../partials/altNavbar"); -%>
    <%-include("../../partials/altSidebar");-%>
    <div class="content-block">
        <div class="card">
          <div id="patientList">
          <table>
            <thead>
              <tr class="table100-head">
                <th class="column1">S.N</th>
                <th class="column1">Speciality</th>
                <th class="column1">Doc Name</th>
                <th class="column7">Actions</th>

              </tr>
            </thead>
            <tbody id="front">
              <tr>
                <td class="column1">1</td>
                <td class="column1"><%=doctor.speciality%></td>
                <td class="column1"><%=user.firstName+" "+user.lastName%></td>
                <td class="column7"><a href="/userDocSection/consultDoc/presc"><button class="btn btn-outline-primary mt-3" style="margin:auto; display: block;">Consult Doctor</button></a></td>
                <!-- original idea was to show doctor info button here -->

            </tbody>
          </table>
        </div>
        </div>

    </div>
   
       <%-include("../../partials/footer"); -%>
  </body>

</html>

