<!DOCTYPE html>
<html>
  <%- include("../../partials/header"); -%>

    <title>Page Title</title>
    </head>
    <body id="body-pd" >
    <%-include("../../partials/altNavbar"); -%>
    <%-include("../../partials/altSidebar");-%>
    <div class="row" style="display: flex;margin: 8rem 4rem;">
        <div class="col-md-10">
            <h3><%= doctors.handler_id.firstName + " " + doctors.handler_id.lastName %>'s Information: </h3>
            <ul>
                <div class="row">
                    <div class="col-md-10">
                        <li><h4><strong>Works At: </strong><%= doctors.workAtHosp%> </h4></li>
                    </div>
                    <div class="col-md-4">
                        <li><h4><strong>Speciality:</strong> <%=doctors.speciality%></h4></li>
                    </div>
                    <div class="col-md-4">
                        <li><h4><strong>Experience:</strong> <%= doctors.experience%> years</h4></li>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-md-2" style="border-radius: 25px;text-align: center;justify-content:center;box-shadow: 0 0 20px 0px rgb(0 0 0 / 20%);">
            <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/avatar-182-132174.png" class="img-fluid rounded-circle border" alt="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-vector-avatar-icon-png-image_695765.jpg" style="margin-top: 2rem; width:60%; box-shadow: 6px 5px 18px 0px rgba(0,0,0,0.33);" >
            <h5 id="username"><%=doctors.handler_id.username%></h5>
            <h5 id="name"><%= doctors.handler_id.firstName + " " + doctors.handler_id.lastName%></h5>
            <span><em>Joined <%= moment(doctors.handler_id.joinedAt).fromNow()%></em></span>
        </div>
    </div>
    <div>
        <a href="#" class="btn btn-success toggleAppointmentForm">Take Appointment</a>
        <form class="container takeAppointment" action="/userDocSection/createAppointment/<%= doctors._id%>" method="POST" style="margin: 2rem 0 4rem 0; display: none;">
            <div class="form-group">
              <label for="InputNumber">Phone Number</label>
              <input type="number" class="form-control" name="phone" id="InputNumber" aria-describedby="numberHelp">
              <small id="numberHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="InputSlot">Input Preferred Slot</label>
                <input class="form-control" name="preferSlot" type="datetime-local" id="datetime-local-input">
                <small class="form-text text-muted">Slot Time may change</small>
            </div>
            <div class="form-group">
                <label for="InputDisease">Input Disease Description</label>
                <textarea class="form-control" name="disease" id="InputDisease" cols="10" rows="4" maxlength="200"></textarea>
                <small class="form-text text-muted">Maximum character limit is 200.</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <%-include("../../partials/footer"); -%>
    </body>
    <script>
        $(".toggleAppointmentForm").click(function(){
            $(".takeAppointment").toggle();
        })
    </script>
</html>