<!DOCTYPE html>
<html>
  <%- include("../../partials/header"); -%>

    <title>Page Title</title>
    </head>
    <body id="body-pd" >
    <%-include("../../partials/altNavbar"); -%>
    <%-include("../../partials/altSidebar");-%>
    <div class="row" style="display: flex;margin: 8rem 4rem;">
        <div class="col-md-10">
            <h3><%= doctors.handler_id.firstName + " " + doctors.handler_id.lastName %>'s Information: </h3>
            <ul>
                <div class="row">
                    <div class="col-md-10">
                        <li><h4><strong>Works At: </strong><%= doctors.workAtHosp%> </h4></li>
                    </div>
                    <div class="col-md-4">
                        <li><h4><strong>Speciality:</strong> <%=doctors.speciality%></h4></li>
                    </div>
                    <div class="col-md-4">
                        <li><h4><strong>Experience:</strong> <%= doctors.experience%> years</h4></li>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-md-2" style="border-radius: 25px;text-align: center;justify-content:center;box-shadow: 0 0 20px 0px rgb(0 0 0 / 20%);">
            <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/avatar-182-132174.png" class="img-fluid rounded-circle border" alt="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-vector-avatar-icon-png-image_695765.jpg" style="margin-top: 2rem; width:60%; box-shadow: 6px 5px 18px 0px rgba(0,0,0,0.33);" >
            <h5 id="username"><%=doctors.handler_id.username%></h5>
            <h5 id="name"><%= doctors.handler_id.firstName + " " + doctors.handler_id.lastName%></h5>
            <span><em>Joined <%= moment(doctors.handler_id.joinedAt).fromNow()%></em></span>
        </div>
    </div>
    <div>
        <a href="#" class="btn btn-success toggleAppointmentForm" onclick="slotChecker()">Take Appointment</a>
        <form class="container takeAppointment" action="/userDocSection/createAppointment/<%= doctors._id%>" method="POST" style="margin: 2rem 0 4rem 0; display: none;">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="InputNumber">Phone Number</label>
                    <input type="number" class="form-control" name="phone" id="InputNumber" aria-describedby="numberHelp" required>
                    <small id="numberHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="InputSlot">Preferred Slot</label><br>
                    <div class="col-md-12">
                        <label for="slotA" id="labelForSlotA">Morning Slot: <strong>Available Seats: </strong> <%=doctors.availableSlots.slotA%></label>
                        <input type="radio" name="selectedSlot" value="slotA" id="slotA" required></input>
                    </div>
                    <div class="col-md-12">
                        <label for="slotB" id="labelForSlotB">Evening Slot: <strong>Available Seats: </strong> <%=doctors.availableSlots.slotB%></label>
                        <input type="radio" name="selectedSlot" value="slotB" id="slotB" required></input>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="InputSlotDate">Prefered Date and Time of Slot</label>
                      <input class="form-control" name="preferSlot" type="datetime-local" id="datetfield" required>
                      <small class="form-text text-muted">Slot Time may change</small>
                  </div>
                  <div class="form-group col-md-12">
                      <label for="InputDisease">Disease Description</label>
                      <textarea class="form-control" name="disease" id="InputDisease" cols="10" rows="4" maxlength="200" required></textarea>
                      <small class="form-text text-muted">Maximum character limit is 200.</small>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="emergency">Is it an Emergency?</label>
                    <input class="form-control" name="emergency" type="checkbox" id="emergency">
                    <small class="form-text text-muted">Please use this option responsibly!</small>
                </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
    </div>
    <%-include("../../partials/footer"); -%>
    </body>
    <script>
        $(".toggleAppointmentForm").click(function(){
            $(".takeAppointment").toggle();
        })
     
        function slotChecker(){
            var slotA = parseInt(document.getElementById("labelForSlotA").innerHTML.slice(49,document.getElementById("labelForSlotA").innerHTML.length))
            var slotB = parseInt(document.getElementById("labelForSlotB").innerHTML.slice(49,document.getElementById("labelForSlotB").innerHTML.length))
            if(slotA==0){
                document.getElementById("slotA").disabled = true
            }
            if(slotB==0){
                document.getElementById("slotB").disabled = true
            }
        }

        function setMin(){
            // Use Javascript
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0 so need to add 1 to make it 1!
            var yyyy = today.getFullYear();
            if(dd<10){
            dd='0'+dd
            } 
            if(mm<10){
            mm='0'+mm
            } 

            today = yyyy+'-'+mm+'-'+dd;
                
            document.getElementById("datefield").setAttribute("min", today);
        }
    </script>
</html>