<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header"); -%>
<link rel="stylesheet" href="/stylesheets/authCSS/signup.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/globalCSS/formTheme.css">
<body>
    <%- include("../partials/altNavbar"); -%>
    <%- include("../partials/altSidebar"); -%>
    <div class=" container signup-wrapper">
        <form action="/user/updateProfile/<%=currentUser._id%>?_method=PUT" method="POST">
            <h2 style="text-align: center;">Update Details</h2>
            <hr>
            <div class="form-row" id="personalInfo">
                <div class="form-group col-md-12">
                    <h4>Personal Information:</h4>
                </div>
                <h5 class="form-group col-md-12">Your Name: </h5>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="firstname" name="firstName" placeholder="First Name" value="<%=currentUser.firstName%>">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="lastname" name="lastName" placeholder="Last Name" value="<%=currentUser.lastName%>">
                </div>
                <h5 class="form-group col-md-12">Your Address:</h5>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" id="streetAddress" name="streetAddress" placeholder="Your Street Address" value="<%=currentUser.address.street%>">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" name="city" class="form-control" id="inputCity" placeholder="City" value="<%=currentUser.address.city%>">
                </div>
                <div class="form-group col-md-4">
                    <select id="inputState" name="state" class="form-control">
                        <option selected>Select State</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <input type="number" name="zip" class="form-control" id="inputZip" placeholder="Zip Code" value="<%=currentUser.address.zip%>">
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control" name="gender" id="gender">
                        <option selected disabled> Gender </option>
                        <option value="male" <%=currentUser.gender  == 'male' ?'selected':'' %>>Male</option>
                        <option value="female" <%=currentUser.gender  == 'female' ?'selected':'' %>>Female</option>
                        <option value="others" <%=currentUser.gender  == 'others' ?'selected':'' %>>Others</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-xs btn-success" id="goToSetup">Save and Update</button>
</body>
<%- include("../partials/footer"); -%>

</html>