<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/stylesheets/landing.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <%- include("../../partials/header"); -%>
  <!-- <link rel="stylesheet" href="/stylesheets/partials/navbar.css" /> -->
  <link rel="stylesheet" href="/stylesheets/dashboard.css" />
  <script src="https://cdn2.hubspot.net/hubfs/476360/utils.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
    
    #username{
        margin-top: 5px;
        font-weight: 300;
    }

    #name{
        margin: 0.8rem 0 0.5rem;
        font-family: 'Oxygen', sans-serif;
        font-weight: 700;
        color: rgb(2, 24, 10) ;
        display: block;
    }

    #createProfile{
        margin: 3rem 0 0.5rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        text-decoration: none;
        color: rgb(10, 139, 60) ;
        display: block;
    }
    #updateProfile{
        margin: 1rem 0 0.8rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        text-decoration: none;
        color: rgb(23, 124, 131) ;
        display: block;
    }
    #mainPageRedirect{
        margin: 1rem 0;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        text-decoration: none;
        color: rgb(179, 7, 7) ;
        display: block;
    }

    .underline-from-center {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        overflow: hidden;
    }
    #mainPageRedirect.underline-from-center:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: rgb(179, 7, 7) ;
        height: 2px;
        -webkit-transition-property: left right;
        transition-property: left right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    #updateProfile.underline-from-center:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: rgb(23, 124, 131) ;
        height: 2px;
        -webkit-transition-property: left right;
        transition-property: left right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    #createProfile.underline-from-center:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: rgb(10, 139, 60) ;
        height: 2px;
        -webkit-transition-property: left right;
        transition-property: left right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    #mainPageRedirect.underline-from-center:hover:before {
        left: 1rem;
        right: 1rem;
    }
    #updateProfile.underline-from-center:hover:before {
        left: 20px;
        right: 20px;
    }
    #createProfile.underline-from-center:hover:before {
        left: 0;
        right: 0;
    }
</style>

  <body id="body-pd">
    <%-include("../../partials/altNavbar");-%>
    <%-include("../../partials/altAdminSideNavbar");-%>

      
          <!-- <a href="#" class="nav__link">
            <i class="bx bx-log-out nav__icon"></i>
          </a> -->
        </nav>
      </div>      

    <div class="row" style="margin: 8rem 4rem;">
        <div class="col-md-10">
            <% if(foundHosp.length > 0){ %>
                <h5><u><b>About your institutions</b></u></h5>
                <div style="line-height: 1.9rem;">
                    <p><strong>Hospital Name:</strong> <%=foundHosp[0].name%> </p>
                    <p><strong>Hospital Address:</strong> <%= foundHosp[0].address.street + ", " + foundHosp[0].address.city + ", " + foundHosp[0].address.state + ", " + foundHosp[0].address.zip %> </p>
                    <div class="row">
                        <div class="col-md-5">
                            <p><strong>Email: </strong><%=foundHosp[0].contact.email%></p>
                        </div>
                        <div class="col-md-5">
                            <p><strong>Phone Number: </strong><%=foundHosp[0].contact.phone%></p>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <p><strong>No Hospital Registered to Current user!</strong></p>
            <% } %>

            <% if(foundAdmin.length > 0){ %>
            <h5 style="margin-top: 1rem"><u><strong>Administrator Information: </strong></u></h5>
            <div style="line-height: 1.9;">
                <p><strong>Admninstrator Name: </strong> <%= currentUser.firstName + " " + currentUser.lastName%></p>
                <div class="row">
                    <div class="col-md-5">
                        <p><strong>Administrator Email: </strong> <%= foundAdmin[0].adminContact.phone%></p>
                    </div>
                    <div class="col-md-5">
                        <p><strong>Administrator Contact No.: </strong> <%= foundAdmin[0].adminContact.phone%></p>
                    </div>
                </div>
            </div>  
            <% } else { %>
                <p><strong>No Admin is Registered   !</strong></p>
            <% } %>
            <h5 style="margin-top: 1rem"><u><Strong>Other Details: </Strong></u></h5>
            <% if(foundHosp.length > 0){ %>
            <p><strong>Hospital Token No: </strong><%= foundHosp[0]._id%></p>
            <% } %>
        </div>
        <div class="col-md-2"  data-aos="fade-left" style="border-radius: 25px;text-align: center;justify-content:center;box-shadow: 0 0 20px 0px rgb(0 0 0 / 20%);">
            <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/avatar-182-132174.png" class="img-fluid rounded-circle border" alt="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-vector-avatar-icon-png-image_695765.jpg" style="margin-top: 2rem; width:60%; box-shadow: 6px 5px 18px 0px rgba(0,0,0,0.33);" >
            <h5 id="username"><%=currentUser.username%></h5>
            <h5 id="name"><%= currentUser.firstName + " " + currentUser.lastName%></h5>
            <span><em>Joined <%= moment(currentUser.joinedAt).fromNow()%></em></span>
        </div>
    </div>

        <h4 style="text-align: center; margin: 0 auto 1.5rem"><Strong><i class="fas fa-chart-line"></i>   Analytics</Strong> </h4>
    <main data-aos="fade-up">

      <div class="div1 card">
        <div class="clearfix">
          <div class="card-icon shadow-primary bg-blue">
            <i class="material-icons align-middle">local_activity</i>
          </div>
          <div class="card-right">
            <div>
              <h5 class="pull-right">Earning</h5>
            </div>
            <div class="m-r-10 m-l-10">
              <h3 class="font-weight-bold pull-right mb-0">$18,000</h3>
            </div>
          </div>
        </div>
        <div class="card-chart">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand"></div>
            <div class="chartjs-size-monitor-shrink"></div>
          </div>
          <canvas
            id="div1"
            basechart=""
            class="chartjs-render-monitor"
            width="432"
            height="216"
            style="display: block; width: 432px; height: 216px"
          ></canvas>
        </div>
      </div>
      <div class="div2 card">
        <div class="clearfix">
          <div
            class="card-icon shadow-primary bg-green"
            style="background: #228b22ba"
          >
            <i class="material-icons align-middle">person_add</i>
          </div>
          <div class="card-right">
            <div>
              <h5 class="pull-right">New Patients</h5>
            </div>
            <div class="m-r-10 m-l-10">
              <h3 class="font-weight-bold pull-right mb-0">116</h3>
            </div>
          </div>
        </div>
        <div class="card-chart">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand"></div>
            <div class="chartjs-size-monitor-shrink"></div>
          </div>
          <canvas
            id="div2"
            basechart=""
            class="chartjs-render-monitor"
            width="432"
            height="216"
            style="display: block; width: 432px; height: 216px"
          ></canvas>
        </div>
      </div>
      <div class="div3 card">
        <div class="clearfix">
          <div
            class="card-icon shadow-primary bg-orange"
            style="background: orange"
          >
            <i class="material-icons align-middle">content_cut</i>
          </div>
          <div class="card-right">
            <div>
              <h5 class="pull-right">Operations</h5>
            </div>
            <div class="m-r-10 m-l-10">
              <h3 class="font-weight-bold pull-right mb-0">24</h3>
            </div>
          </div>
        </div>
        <div class="card-chart">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand"></div>
            <div class="chartjs-size-monitor-shrink"></div>
          </div>
          <canvas
            id="div3"
            basechart=""
            class="chartjs-render-monitor"
            width="432"
            height="216"
            style="display: block; width: 432px; height: 216px"
          ></canvas>
        </div>
      </div>
      <div class="div4 card">
        <div class="clearfix">
          <div
            class="card-icon shadow-primary bg-purple"
            style="background: #8309d0b8"
          >
            <i class="material-icons align-middle">face</i>
          </div>
          <div class="card-right">
            <div>
              <h5 class="pull-right">Appointments</h5>
            </div>
            <div class="m-r-10 m-l-10">
              <h3 class="font-weight-bold pull-right mb-0">36</h3>
            </div>
          </div>
        </div>
        <div class="card-chart">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand"></div>
            <div class="chartjs-size-monitor-shrink"></div>
          </div>
          <canvas
            id="div4"
            basechart=""
            class="chartjs-render-monitor"
            width="432"
            height="216"
            style="display: block; width: 432px; height: 216px"
          ></canvas>
        </div>
      </div>
      <div class="div5 card">
        
          <canvas  id="div5" width="883.5" height="450"  style="background-color:rgba(255,255,255,1.00);border-radius:0px;width:883.5px;height:450px;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px"></canvas>

        
      </div>
      <div class="div6 card">
        <canvas id="div6" width="883.5" height="450" style="width: 883.5px;height: 450px;" class="chartjs-render-monitor"></canvas>
      </div>
      <!-- <div class="div7 card">div7</div> -->
      <div class="div8 card">
        <div id="div8">
          <table>
            <thead>
              <tr class="table100-head">
                <th class="column1">S.N</th>
                <th class="column1">Patient Name</th>
                <th class="column1">Date</th>
                <th class="column1">Disease</th>
                <th class="column7">Action</th>
              </tr>
            </thead>
            <tbody id="front">
              <tr>
                <td class="column1">1</td>
                <td class="column1">Mark</td>
                <td class="column1">20/05/2021</td>
                <td class="column1">Cancer</td>

                <td><form method="POST" id="delete_form"><a id="dlt_icon" return false;" href="javascript:{}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                </svg></a></form></td>
              </tr>
              <tr>
                <td class="column1">1</td>
                <td class="column1">Mark</td>
                <td class="column1">20/05/2021</td>
                <td class="column1">Cancer</td>

                <td><form method="POST" id="delete_form"><a id="dlt_icon" return false;" href="javascript:{}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                </svg></a></form></td>
              </tr>
              <tr>
                <td class="column1">1</td>
                <td class="column1">Mark</td>
                <td class="column1">20/05/2021</td>
                <td class="column1">Cancer</td>

                <td><form method="POST" id="delete_form"><a id="dlt_icon" return false;" href="javascript:{}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                </svg></a></form></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <%-include("../../partials/footer");-%>
    <script src="/jsFiles/chartJs/div1.js"></script>
    <script src="/jsFiles/chartJs/div2.js"></script>
    <script src="/jsFiles/chartJs/div3.js"></script>
    <script src="/jsFiles/chartJs/div4.js"></script>
    <script src="/jsFiles/chartJs/div5.js"></script>
    <script src="/jsFiles/chartJs/div6.js"></script>
    <script>
      AOS.init({
        duration: 1200,
      });
    </script>

  </body>
</html>
