<%-include("../../partials/header");-%>
<style type="text/css">
	.container{
            margin-top: 8rem;
        }
  .hiddenRow {
    padding: 0 !important;
}
</style>
<%- include("../../partials/Navbar"); -%>

<div class="container">
	<h2><%=service%> Answer Window</h2>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <!-- For bloodbank request -->
                  <th>#</th>
                  <th>Hospital</th>
                  <th>Date</th>
                  <th>Donor Age</th>
                  <th>Blood Group</th>
                  <th>Contact</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0; i < requests.length; i++){ %>
                    <tr data-toggle="collapse" data-target="#row<%=i%>" class="accordion-toggle">
                      <td id="element" data-placement="top" data-toggle="popover" data-content="Click to expand"><%= i+1%></td>
                      <td><%= requests[i].hospitalName %></td>
                      <td><%= requests[i].date%></td>
                      <td><%= requests[i].donorAge%></td>
                      <td><%= requests[i].bloodGroup%></td>
                      <td><%= requests[i].contact%></td>
                      <td><a href="/hospHospSection/bloodBank/approve" class="btn btn-outline-success">Approve</a>
                        <a href="/hospHospSection/bloodBank/reject" class="btn btn-outline-danger">Reject</a>
                      </td>

                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow">
                          <div class="accordian-body collapse" id="row<%=i%>" > 
                          Details of the row
                          </div> 
                      </td>
                    </tr>
                <% } %>
              </tbody>
            </table>
		</div>
	</div>
</div>    
<script>
     setTimeout(function (){
      $('#element').popover('show');
},1000);
     setTimeout(function(){
      $('#element').popover('hide');
      $('#element').popover('disable');
    },4000);
  </script>  

<%-include("../../partials/footer");-%>