<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/header"); -%>
    <link rel="stylesheet" href="/stylesheets/partials/navbar.css">
    <link rel="stylesheet" href="/stylesheets/userHospSection/organDonation/organDonation.css">
    <style type="text/css">
        input, textarea {
            border-radius:5px;
        }

        .jumbotron{
            background-color: rgba(230, 201, 201, 0.2) !important; 
            border: 1px solid black; 
            border-radius: 25px; 
            padding: 1rem 1rem 0.2rem; 
            text-align: left;
        }

        .btn-grad {background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)}
         .btn-grad {
            margin: 2rem 10px 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 50px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            } 
         
         
        </style>

</head>
<body id="body-pd">
    <%- include("../../partials/altNavbar"); -%>
    <%- include("../../partials/altSidebar"); -%>
    
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                    <strong id="introPage">Organ Donation Sections</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="liverPage">Liver</li>
                    <li class="list-group-item" id="kidneyPage">Kidney</li>
                    <li class="list-group-item" id="heartPage">Heart</li>
                    <li class="list-group-item" id="eyesPage">Eyes</li>
                    <li class="list-group-item" id="intestinePage">Intestines</li>
                    </ul>
                </div>

                <form action="/userDocSection/index/searchPetitioners" method="POST">
                    <button type="submit" class="btn btn-xs btn-grad"><span style="display: inline-flex;">Find Organ Petitioners</span></button>
                </form> 
            </div>
            <div class="col-md-8">
                <div>
                    <div class="introPage"  style="text-align: center;">
                        <% if(flag == 0) { %>

                                <p>
                                    Organ donation is a social act that is looked upon with honour. India follows the opt-in 
                                    system for organ donation. The Transplantation of Human Organs Act 1994 controls the organ
                                    donation in India. India’s Ministry of Health and Family Welfare Government website gives
                                    out legal forms for those wishing to donate an organ.
                                </p>

                                <strong>
                                    <h3>"You were born with the ability to change someone's life. Don't ever waste it"</h3> 
                                </strong>
                        <% } else if(flag==1) { %>
                            <% if(organ == 1) { %>
                            <% if(foundLivers.length > 0) { %>
                                <% foundLivers.forEach(function(liver){ %>
                                    <div class="jumbotron">
                                        <h3><strong><u>Liver Donor Details</u></strong></h3>
                                        <h5><strong>Donor Name: </strong> <%= liver.firstName + " " + liver.lastName %></h5>
                                        <h5><strong>Donor Contact Email: </strong> <%= liver.email %> </h5>
                                        <h5><strong>Location of the Donor: </strong> <%= liver.address.city%>, <%= liver.address.state%></h5>

                                        <p style="color: rgb(255, 0, 0);">*You can contact donor using Donor's Email.</p>
                                    </div> 
                                <% }); %>
                            <% } else{ %>
                                <h3><strong>No Liver Donor Found!!</strong></h3>
                            <% } %>
                        <% } else if(organ == 2){ %>
                            <% if(foundKidneys.length > 0) { %>
                                <% foundKidneys.forEach(function(kidney){ %>
                                    <div class="jumbotron" style="background-color:rgba(211, 234, 224, 0.1); border: 1px solid black; border-radius: 25px; padding: 1rem 1rem 0.2rem; text-align: left;">
                                        <h2><strong>Kidney Donor Details</strong></h2>
                                        <h5><strong>Donor Name: </strong> <%= kidney.firstName + " " + kidney.lastName %></h5>
                                        <h5><strong>Donor Contact Email: </strong> <%= kidney.email %> </h5>
                                        <h5>Location of the Donor: <%= kidney.address.city%>, <%= kidney.address.state%></h5>
                                    </div> 
                                <% }); %>
                            <% } else{ %>
                                <h3><strong>No Kidney Donor Found!!</strong></h3>
                            <% } %>
                            <% } else if(organ == 3){ %>
                                <% if(foundHearts.length > 0) { %>
                                    <% foundHearts.forEach(function(heart){ %>
                                        <div class="jumbotron">
                                            <h2><strong>Heart Donor Details</strong></h2>
                                            <h5><strong>Donor Name: </strong> <%= heart.firstName + " " + heart.lastName %></h5>
                                            <h5><strong>Donor Contact Email: </strong> <%= heart.email %> </h5>
                                            <h5>Location of the Donor: <%= heart.address.city%>, <%= heart.address.state%></h5>
                                        </div> 
                                    <% }); %>
                                <% } else{ %>
                                    <h3><strong>No Heart Donor Found!!</strong></h3>
                                <% } %>
                                <% } else if(organ == 4){ %>
                                    <% if(foundEyes.length > 0) { %>
                                        <% foundEyes.forEach(function(eye){ %>
                                            <div class="jumbotron">
                                                <h2><strong>Eyes Donor Details</strong></h2>
                                                <h5><strong>Donor Name: </strong> <%= eye.firstName + " " + eye.lastName %></h5>
                                                <h5><strong>Donor Contact Email: </strong> <%= eye.email %> </h5>
                                                <h5>Location of the Donor: <%= eye.address.city%>, <%= eye.address.state%></h5>
                                            </div> 
                                        <% }); %>
                                    <% } else{ %>
                                        <h3><strong>No Eyes Donor Found!!</strong></h3>
                                    <% } %>
                                    <% } else if(organ == 5){ %>
                                        <% if(foundIntestines.length > 0) { %>
                                            <% foundIntestines.forEach(function(intestine){ %>
                                                <div class="jumbotron" style="background-color:rgb(0 0 0 / 20%)">
                                                    <h2><strong>Intestine Donor Details</strong></h2>
                                                    <h5><strong>Donor Name: </strong> <%= intestine.firstName + " " + intestine.lastName %></h5>
                                                    <h5><strong>Donor Contact Email: </strong> <%= intestine.email %> </h5>
                                                    <h5>Location of the Donor: <%= intestine.address.city%>, <%= intestine.address.state%></h5>
                                                </div> 
                                            <% }); %>
                                        <% } else{ %>
                                            <h3><strong>No Intestine Donor Found!!</strong></h3>
                                        <% } %>
                                        <% } %>
                                    <% } else if(flag == 2) { %>
                                        <% if(foundPetitioners.length > 0) { %>
                                            <h2 style="text-align: center; margin-bottom: 1rem; font-family:'Times New Roman', Times, serif;"><strong>Request Petitioners List</strong> </h2>
                                            <% foundPetitioners.forEach(function(petition){ %>
                                                <div class="jumbotron" style="background-color:rgb(0 0 0 / 20%)">
                                                    <h3><strong>Organ Request Petitioner Detail</strong></h3>
                                                    <h5><strong>Petitioner Name: </strong> <%= petition.firstName + " " + petition.lastName %></h5>
                                                    <h5><strong>Requested Organ: </strong> <%= petition.organType %></h5>
                                                    <h5><strong>Petitioner Contact Email: </strong> <%= petition.email %> </h5>
                                                    <h5><strong>Location of the Donor: </strong><%= petition.address.city%>, <%= petition.address.state%></h5>
                                                </div> 
                                            <% }); %>
                                        <% } else{ %>
                                            <h3><strong>No Organ Request Petition Found!!</strong></h3>
                                        <% } %>
                                    <% } %>
                            

                    </div>
                    <div action="#" class="liverPage">
                        <h3>Liver Donation</h3>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-primary" id="liverSearchBtn">Search for Liver Donor</button>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-success" onclick=showLiverForm() id="liverRegisterBtn">Register to donate Liver</button>
                        <div id="liverSearch" style="margin-top: 3rem;">
                            <form style="border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="/userDocSection/index/searchOrgan/Liver" class=" p-3 mb-5  border-radius: 25px" method="POST">
                                <h3 style="text-align: center;">Search By your city</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">State:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="state" placeholder="State Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="firstName">City:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="city" placeholder="City Name">
                                    </div>
                                    <button style="border-radius:25px;"  type="submit" class="btn btn-success">Search!</button>
                                </div>
                            </form>
                        </div>
                        <form style="margin-top: 3rem; width: 100%; border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="/userDocSection/organDonation/Liver" id="liverForm" class="liverForm  p-3 mb-5 " method="POST">
                            <h3 style="text-align: center;"><u>Liver Donation Form</u></h3>
                            <div style="margin-top: 2rem;" class="form-row">
                                <div class="form-group col-md-12">
                                    <h5><strong>Name: </strong> <%= currentUser.firstName + " " + currentUser.lastName %></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h5><strong>Email: </strong> <%= currentUser.email%></h5>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5><strong>Phone: </strong> <%= currentUser.phone%></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h5><strong>Adderss: </strong> <%= currentUser.address.street + ", " + currentUser.address.city + ", " + currentUser.address.state %></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioLiver" id="flexRadioDefault9" value="donating" >
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          I am registering for <u>donation</u>
                                        </label>
                                    </div>
                                </div>
                                  <div class="form-group col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioLiver" id="flexRadioDefault10" value="requesting" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                          I am <u>requesting</u> organ
                                        </label>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputDiseases"><strong>Diseases</strong></label>
                                    <textarea name="disease" id="inputDiseases" class="form-control" cols="30" rows="5" placeholder="Write If you have any Diseases."></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputBloodGroup"><strong>BloodGroup</strong></label>
                                    <input style="border-radius:25px;"  type="text" name="bloodgroup" class="form-control" id="inputBloodGroup" placeholder="Donor Blood Group">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAge"><strong>Age</strong></label>
                                    <input style="border-radius:25px;"  type="number" name="age" class="form-control" id="inputAge" placeholder="Donor Age">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                <input style="border-radius:25px;"  class="form-check-input" type="checkbox" required >
                                <label class="form-check-label" for="gridCheck">
                                    I will bring all the necessary documents with me as instructed by the hospital.
                                </label>
                                </div>
                            </div>
                            <button style="border-radius:25px;"  type="submit" class="btn btn-success">Apply!</button>
                        </form>
                    </div>
                    <div action="#" class="kidneyPage">
                        <h3>Kidney Donation</h3>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-primary" id="kidneySearchBtn">Search for Kidney Donor</button>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-success" onclick="showKidneyForm()" id="kidneyRegisterBtn">Register to donate Kidney</button>
                        <div id="kidneySearch" style="margin-top: 3rem;">
                            <form style="border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="/userDocSection/index/searchOrgan/Kidney" class=" p-3 mb-5 " method="POST">
                                <h3 style="text-align: center;">Search By your city</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">State:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="state" placeholder="State Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="firstName">City:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="city" placeholder="City Name">
                                    </div>
                                </div>
                                <button style="border-radius:25px;"  type="submit" class="btn btn-success">Search!</button>
                            </form>
                        </div>
                        <form style="margin-top: 3rem; width: 100%; border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="/userDocSection/organDonation/Kidney" id="kidneyForm" class="kidneyForm  p-3 mb-5 " method="POST">
                            <h3 style="text-align: center;"><u>Kidney Donation Form</u></h3>
                            <div style="margin-top: 2rem;" class="form-row">
                                <div class="form-group col-md-12">
                                    <h5><strong>Name: </strong> <%= currentUser.firstName + " " + currentUser.lastName %></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h5><strong>Email: </strong> <%= currentUser.email%></h5>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5><strong>Phone: </strong> <%= currentUser.phone%></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioKidney" id="flexRadioDefault7" value="donating" >
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          I am registering for <u>donation</u>
                                        </label>
                                    </div>
                                </div>
                                  <div class="form-group col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioKidney" id="flexRadioDefault8" value="requesting" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                          I am <u>requesting</u> organ
                                        </label>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h5><strong>Adderss: </strong> <%= currentUser.address.street + ", " + currentUser.address.city + ", " + currentUser.address.state %></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputDiseases"><strong>Diseases</strong></label>
                                    <textarea name="disease" id="inputDiseases" class="form-control" cols="30" rows="5" placeholder="Write If you have any Diseases."></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputBloodGroup"><strong>BloodGroup</strong></label>
                                    <input style="border-radius:25px;"  type="text" name="bloodgroup" class="form-control" id="inputBloodGroup" placeholder="Donor Blood Group">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAge"><strong>Age</strong></label>
                                    <input style="border-radius:25px;"  type="number" name="age" class="form-control" id="inputAge" placeholder="Donor Age">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                <input style="border-radius:25px;"  class="form-check-input" type="checkbox" required >
                                <label class="form-check-label" for="gridCheck">
                                    I will bring all the necessary documents with me as instructed by the hospital.
                                </label>
                                </div>
                            </div>
                            <button style="border-radius:25px;"  type="submit" class="btn btn-success">Apply!</button>
                        </form>
                    </div>
                    <div class="heartPage">
                        <h3>Heart Donation</h3>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-primary" id="heartSearchBtn">Search for Heart Donor</button>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-success" onclick="showHeartForm()" id="heartRegisterBtn">Register to donate Heart</button>
                        <div id="heartSearch" style="margin-top: 3rem;">
                            <form style="border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="/userDocSection/index/searchOrgan/Heart" class=" p-3 mb-5 " method="POST">
                                <h3 style="text-align: center;">Search By your city</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">State:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="state" placeholder="State Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="firstName">City:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="city" placeholder="City Name">
                                    </div>
                                </div>
                                <button style="border-radius:25px;"  type="submit" class="btn btn-success">Search!</button>
                            </form>
                        </div>
                        <form style="margin-top: 3rem; width: 100%; border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="/userDocSection/organDonation/Heart" id="heartForm" class="heartForm  p-3 mb-5 " method="POST">
                            <h3 style="text-align: center;"><u>Heart Donation Form</u></h3>
                            <div style="margin-top: 2rem;" class="form-row">
                                <div class="form-group col-md-12">
                                    <h5><strong>Name: </strong> <%= currentUser.firstName + " " + currentUser.lastName %></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h5><strong>Email: </strong> <%= currentUser.email%></h5>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5><strong>Phone: </strong> <%= currentUser.phone%></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h5><strong>Adderss: </strong> <%= currentUser.address.street + ", " + currentUser.address.city + ", " + currentUser.address.state %></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioHeart" id="flexRadioDefault5" value="donating" >
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          I am registering for <u>donation</u>
                                        </label>
                                    </div>
                                </div>
                                  <div class="form-group col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioHeart" id="flexRadioDefault6" value="requesting" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                          I am <u>requesting</u> organ
                                        </label>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputDiseases"><strong>Diseases</strong></label>
                                    <textarea name="disease" id="inputDiseases" class="form-control" cols="30" rows="5" placeholder="Write If you have any Diseases."></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputBloodGroup"><strong>BloodGroup</strong></label>
                                    <input style="border-radius:25px;"  type="text" name="bloodgroup" class="form-control" id="inputBloodGroup" placeholder="Donor Blood Group">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAge"><strong>Age</strong></label>
                                    <input style="border-radius:25px;"  type="number" name="age" class="form-control" id="inputAge" placeholder="Donor Age">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                <input style="border-radius:25px;"  class="form-check-input" type="checkbox" required >
                                <label class="form-check-label" for="gridCheck">
                                    I will bring all the necessary documents with me as instructed by the hospital.
                                </label>
                                </div>
                            </div>
                            <button style="border-radius:25px;"  type="submit" class="btn btn-success">Apply!</button>
                        </form>
                    </div>
                    <div action="#" class="eyesPage">
                        <h3>Eyes Donation</h3>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-primary" id="eyesSearchBtn">Search for Eyes Donor</button>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-success" onclick="showEyesForm()" id="eyesRegisterBtn">Register to donate Eyes</button>
                        <div id="eyesSearch" style="margin-top: 3rem;">
                            <form style="border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="/userDocSection/index/searchOrgan/Eyes" class=" p-3 mb-5 " method="POST">
                                <h3 style="text-align: center;">Search By your city</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">State:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="state" placeholder="State Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="firstName">City:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="city" placeholder="City Name">
                                    </div>
                                </div>
                                <button style="border-radius:25px;"  type="submit" class="btn btn-success">Search!</button>
                            </form>
                        </div>
                        <form style="margin-top: 3rem; width: 100%; border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="/userDocSection/organDonation/Eyes" id="eyesForm" class="eyesForm  p-3 mb-5 " method="POST">
                            <h3 style="text-align: center;"><u>Eyes Donation Form</u></h3>
                            <div style="margin-top: 2rem;" class="form-row">
                                <div class="form-group col-md-12">
                                    <h5><strong>Name: </strong> <%= currentUser.firstName + " " + currentUser.lastName %></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h5><strong>Email: </strong> <%= currentUser.email%></h5>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5><strong>Phone: </strong> <%= currentUser.phone%></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h5><strong>Adderss: </strong> <%= currentUser.address.street + ", " + currentUser.address.city + ", " + currentUser.address.state %></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioEyes" id="flexRadioDefault1" value="donating" >
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          I am registering for <u>donation</u>
                                        </label>
                                    </div>
                                </div>
                                  <div class="form-group col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioEyes" id="flexRadioDefault2" value="requesting" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                          I am <u>requesting</u> organ
                                        </label>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputDiseases"><strong>Diseases</strong></label>
                                    <textarea name="disease" id="inputDiseases" class="form-control" cols="30" rows="5" placeholder="Write If you have any Diseases."></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputBloodGroup"><strong>BloodGroup</strong></label>
                                    <input style="border-radius:25px;"  type="text" name="bloodgroup" class="form-control" id="inputBloodGroup" placeholder="Donor Blood Group">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAge"><strong>Age</strong></label>
                                    <input style="border-radius:25px;"  type="number" name="age" class="form-control" id="inputAge" placeholder="Donor Age">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                <input style="border-radius:25px;"  class="form-check-input" type="checkbox" required >
                                <label class="form-check-label" for="gridCheck">
                                    I will bring all the necessary documents with me as instructed by the hospital.
                                </label>
                                </div>
                            </div>
                            <button style="border-radius:25px;"  type="submit" class="btn btn-success">Apply!</button>
                        </form>
                    </div>
                    <div action="#" class="intestinePage">
                        <h3>Intestine Donation</h3>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-primary" id="intestineSearchBtn">Search for Intestines Donor</button>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-success" onclick="showIntestineForm()" id="intestineRegisterBtn">Register to donate Intestines</button>
                        <div id="intestineSearch" style="margin-top: 3rem;">
                            <form style="border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="/userDocSection/index/searchOrgan/Intestine" class=" p-3 mb-5 " method="POST">
                                <h3 style="text-align: center;">Search By your city</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">State:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="state" placeholder="State Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="firstName">City:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="city" placeholder="City Name">
                                    </div>
                                </div>
                                <button style="border-radius:25px;"  type="submit" class="btn btn-success">Search!</button>
                            </form>
                        </div>
                        <form style="margin-top: 3rem; margin-top: 3rem;width: 100%; border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="/userDocSection/organDonation/Intestine    " id="intestineForm" class="intestineForm  p-3 mb-5 " method="POST">
                            <h3 style="text-align: center;"><u>Liver Donation Form</u></h3>
                            <div style="margin-top: 2rem;" class="form-row">
                                <div class="form-group col-md-12">
                                    <h5><strong>Name: </strong> <%= currentUser.firstName + " " + currentUser.lastName %></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h5><strong>Email: </strong> <%= currentUser.email%></h5>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5><strong>Phone: </strong> <%= currentUser.phone%></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h5><strong>Adderss: </strong> <%= currentUser.address.street + ", " + currentUser.address.city + ", " + currentUser.address.state %></h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioIntestine" id="flexRadioDefault3" value="donating" >
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          I am registering for <u>donation</u>
                                        </label>
                                    </div>
                                </div>
                                  <div class="form-group col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioIntestine" id="flexRadioDefault4" value="requesting" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                          I am <u>requesting</u> organ
                                        </label>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputDiseases"><strong>Diseases</strong></label>
                                    <textarea name="disease" id="inputDiseases" class="form-control" cols="30" rows="5" placeholder="Write If you have any Diseases."></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputBloodGroup"><strong>BloodGroup</strong></label>
                                    <input style="border-radius:25px;"  type="text" name="bloodgroup" class="form-control" id="inputBloodGroup" placeholder="Donor Blood Group">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAge"><strong>Age</strong></label>
                                    <input style="border-radius:25px;"  type="number" name="age" class="form-control" id="inputAge" placeholder="Donor Age">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                <input style="border-radius:25px;"  class="form-check-input" type="checkbox" required >
                                <label class="form-check-label" for="gridCheck">
                                    I will bring all the necessary documents with me as instructed by the hospital.
                                </label>
                                </div>
                            </div>
                            <button style="border-radius:25px;"  type="submit" class="btn btn-success">Apply!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../../partials/footer"); -%>
    <script>
        AOS.init({
        duration: 900,
      });
    </script>

    <script src="/jsFiles/viewJS/userHospJS/organDonation.js"></script>
    
</body>
</html>