<!DOCTYPE html>
<html>
  <%- include("../../partials/header"); -%>

    <title>Page Title</title>
  </head>
 
  <link rel="stylesheet" href="/stylesheets/userDocSection/docfiles/patientInfo.css">
  <body id="body-pd">
    <%-include("../../partials/altNavbar"); -%>
    <%-include("../../partials/altSidebar");-%>

    <div class="content-block">
      <div class="flex-container">
      <div class="flex-child patInfo">
        <div class="row">
          <div class="col-md-12">
          <strong style="display: inline;">Mr./Ms./Mrs.: </strong>  <%= foundPatient.firstName + " " + foundPatient.lastName %> 
        </div>
      </div>
       
        
       <div>
          <strong>Address: </strong> <%= foundPatient.address.street + " " + foundPatient.address.city + " " +foundPatient.address.city %>
            
        </div>
         
     
      <div>
          <strong>Contact:</strong>  <%= foundPatient.phone %>
            
        </div>  

      </div>
    <div style="display: flex-inline; margin-top: 1.4rem; margin-left: 104rem; position: absolute; ">
        <form id="form2" action="/generatePresc/<%=foundPatient._id%>" method="GET">
        <button type="submit" class="btn btn-success">Generate Prescription</button>
      </form>
      </div>
      <div class="flex-child callBtn">
        <form id="form1" action="/start_call" method="POST">
        <button type="submit" class="btn btn-success" onclick="run();">Start Appointment</button>
      </form>
      </div>
    </div>
      <hr>
      <div class="history">
        <div class="row">

          <div class="col1">
            <div class="card">
              <div class="card-body">
                <div class="test">
                  <table>
                    <thead>
                      <tr class="table100-head">
                        <th class="column1">Recommended Test</th>
                      </tr>
                    </thead>
                    <tbody id="back">
                      <tr>
                        <td class="column1">X-Ray</td>
                      </tr>
                      <tr>
                        <td class="column1">X-Ray</td>
                      </tr>
                      <tr>
                        <td class="column1">X-Ray</td>
                      </tr>
                      <tr>
                        <td class="column1">X-Ray</td>
                      </tr>
                      <tr>
                        <td class="column1">X-Ray</td>
                      </tr>
                      <tr>
                        <td class="column1">CT-Scan</td>
                      </tr>
                      <tr>
                        <td class="column1">Blood-Test</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col2">
            <div class="card">
              <div class="card-body">
                <div class="medicine" id="front">
                  <table>
                    <thead>
                      <tr class="table100-head">
                        <th class="column1">Medicine</th>
                        <th class="column2">Power</th>
                        <th class="column3">Dosage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr>
                      <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr>
                      <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr> <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr> <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr> <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr> <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr> <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr> <tr>
                        <td class="column1">Norflox</td>
                        <td class="column2">300MG</td>
                        <td class="column3">4 Times a Day</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col1">
            <div class="card">
              <div class="card-body">
                <div class="test">
                  <table>
                    <thead>
                      <tr class="table100-head">
                        <th class="column1">Comments</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                      <tr>
                        <td class="column1">X-Ray</td>
                      </tr>
                      <tr>
                        <td class="column1">CT-Scan</td>
                      </tr>
                      <tr>
                        <td class="column1">Blood-Test</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      <hr id="historyDivider">
    </div>

    </div>













    <%-include("../../partials/footer"); -%>
    <script>
      const submitForms = function(){
        submitForms = function(){
    document.getElementById("form1").submit();
    document.getElementById("form2").submit();
}
      }
    </script>
    
</body>

</html>