<!DOCTYPE html>
<html>
  <%- include("../../partials/header"); -%>

    <title>Page Title</title>
  </head>
  <link rel="stylesheet" href="/stylesheets/userDocSection/docfiles/patientInfo.css">
  <body id="body-pd" onload="disable('<%=foundAppointment.isPrescriptionGenerated%>')">
    <%-include("../../partials/altNavbar"); -%>
    <%-include("../../partials/altSidebar");-%>

    <div class="content-block">
      <div class="flex-container">
        <div class="flex-child patInfo">
          <h4 style="text-align: center; margin-top: 2rem; margin-bottom: 1rem;"><strong><u>Patient's Information</u></strong></h4>
          <hr style="border-top: 1px solid gray">
          <div class="row" style="width: 90%; margin: 1rem auto 1rem;">
            <div class="col-md-8">
              <div class="col-md-12">
                <span style="display: inline;">Mr./Ms./Mrs.: <strong><%= foundPatient.firstName + " " + foundPatient.lastName %></strong></span>
              </div>
              <div class="col-md-12">
                <span style="display: inline;">Address: <strong><%= foundPatient.address.street + ", " + foundPatient.address.city + ", " +foundPatient.address.state %></strong></span>
              </div>
              <div class="col-md-12">
                <span style="display: inline;">Contact: <strong><%= foundPatient.phone %></strong></span>
              </div>
              <div class="col-md-12">
                <span style="display: inline;">Gender: <strong><%= foundPatient.gender.charAt(0).toUpperCase() + foundPatient.gender.slice(1)%></strong></span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="col-md-12">
                <form id="form2" action="/generatePresc/<%=foundPatient._id%>" method="GET">
                  <button id="prescBtn" type="submit" class="btn btn-success" style="width: 15rem; border-radius: 25px;">Generate Prescription</button>
                </form>
              </div>
              <div class="col-md-12" style="margin-top: 3px;">
                <form id="form1" action="/start_call" method="POST">
                  <input type="hidden" name="phone" id="phone" value=<%=foundPatient.phone%>>
                  <input type="hidden" name="email" id="" value=<%=foundPatient.email%>>
                  <input type="hidden" name="patientId" value=<%=foundPatient._id%>>
                  <input type="hidden" name="docId" value=<%=foundDocId[0]._id%>>
                  <button type="submit" class="btn btn-warning" style="width: 15rem;border-radius: 25px;" onclick="run();">Start Appointment</button>
                </form>
              </div>
              <div class="col-md-12" style="margin-top: 3px;">
                <form action="/userDocSection/completeAppointment/<%=foundPatient._id%>" method="POST">
                  <button id="cmpltBtn" type="submit" class="btn btn-danger" style="width: 15rem;border-radius: 25px;" >Complete Appointment</button>
                </form>
              </div>
            </div>
          </div>
      <hr>
      <% if(foundPatientMedicalRecords.length > 0) { %> 
      <%for(var i=1;i<foundPatientMedicalRecords[0].prescription.length;i++){%>
      <div class="history">
        <div id="timeline">
          <div class="row">
            <div class="col-md-12">
              <strong>Appointment: </strong><%= i %>
            </div>
            <div class="col-md-12">
              <strong>Generated On:</strong> <%= moment(foundPatientMedicalRecords[0].prescription[i].date).format('ll') %>
            </div>
            <div class="col-md-12">
              <strong>Disease:</strong> <%= foundPatientMedicalRecords[0].prescription[i].disease %>
            </div>
            <div class="col-md-12">
              <strong>Comment By Doctor:</strong> <%= foundPatientMedicalRecords[0].prescription[i].comment %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col1" style="width: 30rem;">
            <div class="card">
              <div class="card-body">
                <div class="medicine" id="front">
                  <table>
                    <thead>
                      <tr class="table100-head">
                        <th class="column1">Medicine</th>
                        <th class="column2">Power</th>
                        <th class="column3">Dosage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%for(var k=0;k<foundPatientMedicalRecords[0].prescription[i].medicines.length;k++){%>
                      <tr>
                        <td class="column1"><%=foundPatientMedicalRecords[0].prescription[i].medicines[k].medicineName%></td>
                        <td class="column2"><%=foundPatientMedicalRecords[0].prescription[i].medicines[k].dosage%></td>
                        <td class="column3"><%=foundPatientMedicalRecords[0].prescription[i].medicines[k].frequency%></td>
                      </tr>
                      <%}%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col1" style="width: 25rem;">
            <div class="card">
              <div class="card-body">
                <div class="test">
                  <table>
                    <thead>
                      <tr class="table100-head">
                        <th class="column1">Recommended Test</th>
                      </tr>
                    </thead>
                    <tbody id="back">
                      <%for(var j=0;j<foundPatientMedicalRecords[0].prescription[i].test.length;j++){%>
                      <tr>
                        <td class="column1"><%=foundPatientMedicalRecords[0].prescription[i].test[j].testName%></td>
                      </tr>
                      <%}%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      <hr id="historyDivider">
     
    </div>
    <%}%>
    <% }else { %>
      <h4 style="text-align: center;">No Medical Records Currently Exists!!</h4>
    <% } %> 
    </div>
    <%-include("../../partials/footer"); -%>
    <script>
      const submitForms = function(){
        submitForms = function(){
    document.getElementById("form1").submit();
    document.getElementById("form2").submit();
}
      }
    </script>
    <script>
      function disable(isDisabled){
        if(isDisabled === 'true'){
          document.getElementById("prescBtn").disabled = true
          document.getElementById("cmpltBtn").disabled = false
          document.getElementById("prescBtn").style.cursor = "not-allowed";
          document.getElementById("prescBtn").style.pointerEvents = "none";
        } else{
          document.getElementById("prescBtn").disabled = false
          document.getElementById("cmpltBtn").disabled = true
          document.getElementById("cmpltBtn").style.cursor = "not-allowed";
          document.getElementById("cmpltBtn").style.pointerEvents = "none";
        }
      }
    </script>
</body>

</html>