<!DOCTYPE html>
<html>
  <%- include("../../partials/header"); -%>

    <title>Page Title</title>
  </head>
 <link rel="stylesheet" href="/stylesheets/userDocSection/docfiles/patientList.css">
 
  <body id="body-pd">
    <%-include("../../partials/altNavbar"); -%>
    <%-include("../../partials/altSidebar");-%>
    <div class="content-block">
        <div class="card">
          <div id="patientList">
          <table>
            <thead>
              <tr class="table100-head">
                <th class="column1">S.N</th>
                <th class="column1">Name</th>
                <th class="column1">Disease</th>
                <th class="column7"></th>

              </tr>
            </thead>
            <tbody id="front">
              <tr>
                <td class="column1">1</td>
                <td class="column1"><%=user.firstName+" "+user.lastName%></td>
                <td class="column1">patient.disease</td>
                <td class="column7"><a href="/userDocSection/patientList/patientInfo/<%=user._id%>"><i class="fa fa-plus" aria-hidden="true"></i></a></td>

              </tr>
            </tbody>
          </table>
        </div>
        </div>

    </div>
   
       <%-include("../../partials/footer"); -%>
  </body>

</html>

