<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/stylesheets/landing.css" />
  <!-- <link rel="stylesheet" href="/stylesheets/partials/navbar.css" /> -->

  <%- include("../../partials/header"); -%> <%-
  include("../../partials/altNavbar"); -%> <%-
  include("../../partials/altSidebar"); -%>

  <body id="body-pd">
    <div
      class="card"
      style="
        margin: auto;
        padding: 2rem;
        max-width: 40rem;
        box-shadow: 1px -1px 13px 0px rgb(0 0 0 / 50%);
        border-radius: 42px;
      "
    >
      <form action="/userDocSection/createProfile?_method=PUT" method="POST">
        <h4 style="text-align: center">
          <strong>Fill Professional Details</strong>
        </h4>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="experience">Experience (in Years)</label>
            <input
              style="border-radius: 25px"
              type="number"
              class="form-control"
              placeholder="Experience"
              name="doctor[experience]"
              value="<%= foundData.experience%>"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="inputQual">Qualification</label>
            <input
              style="border-radius: 25px"
              type="text"
              class="form-control"
              placeholder="Qualification"
              name="doctor[qual]"
              value="<%= foundData.qual %>"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="speciality">Speciality</label>
            <input
              style="border-radius: 25px"
              type="text"
              class="form-control"
              placeholder="Your Speciality. e.g. Neurology, Dentist etc."
              name="doctor[speciality]"
              value="<%= foundData.speciality %>"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="workAtHosp">Working At Hospital/Clinic</label>
            <input
              style="border-radius: 25px"
              type="text"
              class="form-control"
              placeholder="Hospital Name (if any)"
              name="doctor[workAtHosp]"
              value="<%= foundData.workAtHosp %>"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label for="workingAt">Works At</label>
          <input
            style="border-radius: 25px"
            type="text"
            class="form-control"
            placeholder="Hospital Token Number. (if any)"
            name="doctor[workingAt]"
            value="<%= foundData.workingAt %>"
          />
        </div>
        <div class="form-group">
          <label for="fees">Fees</label>
          <input
            style="border-radius: 25px"
            type="number"
            class="form-control"
            placeholder="Enter Your Fees in (Rs)"
            name="doctor[fees]"
            value="<%= foundData.fees%>"
            required
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="timingFrom">Timing Slot: From</label>
            <input
              style="border-radius: 25px"
              type="time"
              class="form-control"
              name="doctor[timing][timingFrom]"
              value="<%= foundData.timing.timingFrom%>"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="timingTo">Timing Slot: To</label>
            <input
              style="border-radius: 25px"
              type="time"
              class="form-control"
              name="doctor[timing][timingTo]"
              value="<%= foundData.timing.timingTo%>"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="morningSlot">Enter Seats For Morning:</label>
            <input
              style="border-radius: 25px"
              type="number"
              class="form-control"
              name="doctor[availableSlots][slotA]"
              value="<%= foundData.availableSlots.slotA%>"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="eveningSlot">Enter Seats For Evening:</label>
            <input
              style="border-radius: 25px"
              type="number"
              class="form-control"
              name="doctor[availableSlots][slotB]"
              value="<%= foundData.availableSlots.slotB%>"
              required
            />
          </div>
        </div>

        <button
          type="submit"
          style="border-radius: 25px; margin-left: 15rem"
          class="btn btn-primary"
        >
          Update!
        </button>
      </form>
    </div>
    <%- include("../../partials/footer"); -%>
  </body>
</html>
