<!DOCTYPE html>
<html>
  <%- include("../partials/header"); -%>

    <title>Page Title</title>
  </head>
  <style>
    .checked{
      color: orange
    }
    .modal-backdrop.fade.show{
      width: 100% !important
    }
    .effect2
    {
      position: relative;
    }
    .effect2:before, .effect2:after
    {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width:300px;
      background: #777;
      -webkit-box-shadow: 0 15px 10px #777;
      -moz-box-shadow: 0 15px 10px #777;
      box-shadow: 0 15px 10px #777;
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }
    .effect2:after
    {
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg);
      right: 10px;
      left: auto;
    }
  </style>
  <link rel="stylesheet" href="/stylesheets/userDocSection/docfiles/patientInfo.css">
  <body id="body-pd">
    <%-include("../partials/altNavbar"); -%>
    <%-include("../partials/altSidebar");-%>
    <div class="content-block">
      <div class="flex-container">
      <div class="flex-child patInfo">
        <h4 style="margin-bottom: .5rem;">Patient's Info</h4>
        <div class="row">
          <div class="col-md-12">
          <span style="display: inline;">Mr./Mrs./Ms./: <strong><%= currentUser.firstName + " " + currentUser.lastName %></strong></span> 
        </div>
          <div class="col-md-12">
          <span style="display: inline;">Gender: <strong><%= currentUser.gender.charAt(0).toUpperCase() + currentUser.gender.slice(1) %></strong></span> 
        </div>
      </div>
      <div>
        <span style="display: inline;">Address <strong><%= currentUser.address.street + ", " + currentUser.address.city + ", " + currentUser.address.state + ", " + currentUser.address.zip %></strong></span>      
      </div>
      <div>
        <span style="display: inline;">Email <strong><%= currentUser.email %></strong></span>            
      </div>  
      <div class="row">
        <div class="col-md-12">
          <h4 style="display: inline-flex; margin-bottom: 0.5rem; margin-top: 1rem;">Doctor's Info</h4>
          <a href="#" style="display: inline-flex; float: right; margin-right: 7rem;" id="ratingButton" class="btn btn-success btn-xs">Give Review!</a>
          <div>
            <span style="display: inline;">Mr./Mrs./Ms./: <strong><%= patientHistory.appointedDoctorId.handler_id.firstName + " " + patientHistory.appointedDoctorId.handler_id.lastName %></strong></span> 
          </div>
          <div>
            <span style="display: inline;">Speciality: <strong><%= patientHistory.appointedDoctorId.speciality %></strong></span>
          </div>
          <div>
            <span style="display: inline;">Contact Email: <strong><%= patientHistory.appointedDoctorId.handler_id.email %></strong></span>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="jumbotron effect2" style="width: 80%;padding-top: 2rem; padding-bottom: 2rem; margin: auto; background-color: #F9FAFB; border-radius: 25px; border: 1px solid gray;">
      <% for(let i=1;i<patientHistory.prescription.length; i++) { %> 
        <h3 style="text-align: center; top: 0; padding-top: 0">Appointment <%= i %> </h3>
        <% if(!patientHistory.prescription[i].review) { %>
          <a href="#" style="text-align: center; display:block; float: right; margin-right: 7rem;" data-toggle="modal" data-target="#exampleModalCenter<%=i%>" id="ratingButton" class="btn btn-success btn-sm">Give Review!</a>
          <!-- Modal -->
          <div class="modal fade" style="z-index: 9999; width: 100%" id="exampleModalCenter<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">How was your Experience?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/review/setReview/<%=patientHistory.appointedDoctorId._id%>/<%=patientHistory.prescription[i].appointmentId%>/<%=patientHistory.appointedDoctorId.handler_id._id%>" method="POST">
                  <div class="modal-body" style="text-align: center; display: inline-flex; margin: auto">
                    <div style="margin: 0 .5rem 0 .5rem">
                      <label for="inputRating1">1</label>
                      <input type="radio" name="review" value=1 id="inputRating1">
                    </div>
                    <div style="margin: 0 .5rem 0 .5rem">
                      <label for="inputRating1">2</label>
                      <input type="radio" name="review" value=2 id="inputRating2">
                    </div>
                    <div style="margin: 0 .5rem 0 .5rem">
                      <label for="inputRating1">3</label>
                      <input type="radio" name="review" value=3 id="inputRating3">
                    </div>
                    <div style="margin: 0 .5rem 0 .5rem">
                      <label for="inputRating1">4</label>
                      <input type="radio" name="review" value=4 id="inputRating4">
                    </div>
                    <div style="margin: 0 .5rem 0 .5rem">
                      <label for="inputRating1">5</label>
                      <input type="radio" name="review" value=5 id="inputRating5">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <% } else { %>
          <div style="float: right;">
            <% nostardata = Math.ceil(patientHistory.prescription[i].review) %>
            <%let fullstardata = Math.floor(patientHistory.prescription[i].review) %>
            <% let halfstardata = patientHistory.prescription[i].review - fullstardata%>
            <% console.log(nostardata, fullstardata, halfstardata, patientHistory.prescription[i].review) %>
            <% while(fullstardata>0) { %>
              <span class="fa fa-star checked"></span>
            <% fullstardata -= 1; } %>
            <% if(halfstardata > 0) { %>
              <span class="fa fa-star-half checked"></span>
            <% } %>
            <% while(5 - nostardata > 0) { %> 
              <span class="fa fa-star"></span>
            <% nostardata++; } %>
          </div>
        <% } %>
        <div class="row">
          <div class="col-md-9">
            <span style="display: inline;">Appointment Date: <strong><%= moment(patientHistory.prescription[i].date).format('ll') %></strong></span>
          </div>
          <div class="col-md-9">
            <span style="display: inline;">Disease: <strong><%= patientHistory.prescription[i].disease %></strong></span>
          </div>
        </div>
        <h5 style="text-align: center;">Prescription</h5>
        <div class="row">
          <div class="col-md-9">
            <span style="display: inline;">Comment From Doctor: <strong><%= patientHistory.prescription[i].comment %></strong></span>
          </div>
        </div>
        <div class="history" style="margin-bottom: 3rem;">
          <div class="row">
            <% if(patientHistory.prescription[i].medicines.length > 0) { %>
              <div class="col3" style="margin: 2rem auto 2rem">
                <div class="card">
                  <div class="card-body">
                    <div class="medicine" id="front">
                      <table>
                        <thead>
                          <tr class="table100-head">
                            <th class="column1" style="text-align: center;">Medicine</th>
                            <th class="column2" style="text-align: center;">Dosage</th>
                            <th class="column3" style="text-align: center;">Frequency</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% patientHistory.prescription[i].medicines.forEach(function(medicine){ %>

                            <tr>
                              <td class="column1" style="text-align: center;"><%= medicine.medicineName %></td>
                              <td class="column2" style="text-align: center;"><%= medicine.dosage %></td>
                              <td class="column3" style="text-align: center;"><%= medicine.frequency %></td>
                            </tr>
                          <% }); %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <% } else { %> 
              <p>No medicines are presribed.</p>
            <% } %>
            <% if(patientHistory.prescription[i].test.length > 0) { %>
              <div class="col3" style="margin: 0 auto 2rem">
                <div class="card">
                  <div class="card-body">
                    <div class="test">
                      <table>
                        <thead>
                          <tr class="table100-head">
                            <th class="column1">Recommended Test</th>
                          </tr>
                        </thead>
                        <tbody id="back">
                          <% patientHistory.prescription[i].test.forEach(function(test){ %>
                            <tr>
                              <td class="column1"><%= test.testName %></td>
                            </tr>
                          <% }); %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <% } else { %> 
              <p>No tests are presribed.</p>
            <% } %>
          </div>
      </div>
      <hr>  
      <% } %>
    </div>

  </div>
    <%-include("../partials/footer"); -%>
    
</body>

</html>