<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header"); -%>
    <link rel="stylesheet" href="/stylesheets/partials/navbar.css">
    <style>
        .container{
            margin-top: 8rem;
        }

        .registerForm {
            display: none;
        }

        .show{
            display: block;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    </style>
<body>
    <%- include("../../partials/altNavbar"); -%>
    <%- include("../../partials/altSidebar"); -%>

    <script src="/jsFiles/cities.js"></script>
    <script>
        function registerDonor() {
            document.getElementById("registerForm").classList.toggle("show");
            var elem = document.getElementById("registerBtn");
            if (elem.innerHTML=="Register Now!") elem.innerHTML = "Close Form";
            else elem.innerHTML = "Register Now!";
            if( document.getElementById("registerBtn").className == "btn btn-xs btn-primary")
                document.getElementById("registerBtn").className = "btn btn-xs btn-outline-primary";
            else
            {
                document.getElementById("registerBtn").className = "btn btn-xs btn-primary";
            }
        }
    </script>

    <div class="container">
        <h2>Search Blood Banks in your city</h2>
        <form action="/userHospSection/bloodBanks/search" method="POST">
            <div style="box-shadow: 2px 2px 10px 4px rgb(177 177 177 / 40%); margin: 3rem; border-radius: 25px;">
                <div class="form row" style="justify-content: space-evenly; padding: 0 2rem;position:relative">
                    <div class="form-group col-md-5" style="margin: 1rem 0 2rem;border-radius: 25px;">
                        <label for="inputstateofJob">State</label>
                        <select style="border-radius: 25px;" onchange="print_city('state', this.selectedIndex);" id="searchState" class="form-control" name="state"></select>
                    </div>
                    <div class="form-group col-md-5" style="margin: 1rem 0 2rem;border-radius: 25px;">
                        <label for="inputCityofJob">City</label>
                        <select id ="state" class="form-control" name="city" style="border-radius: 25px;">
                            <option disabled>Select City</option>
                        </select>
                        <script language="javascript">print_state("searchState");</script>
                    </div>
                    <div class="form-group col-md-2" style="margin: 1rem 0 2rem;border-radius: 25px;"> 
                        <button type="submit" class="btn btn-xs btn-success" style="border-radius: 25px;width: 100%; margin-top: 2rem;">Go!</button>
                    </div>
                </div>
            </div>
        </form>

        <% if(flag == 1) { %>
            <% console.log(foundBloodBanks) %>
                <% if(foundBloodBanks.length > 0) { %>
                    <% foundBloodBanks.forEach(function(bloodBank){ %>
                        <div class="jumbotron" style="background-color:rgba(211, 234, 224, 0.1); border: 1px solid black; border-radius: 25px; padding: 1rem 1rem 0.2rem; text-align: left;">
                            <h3><strong><u>BloodBank Details</u></strong></h3>
                            <h5><strong>Blood Bank Name: </strong> <%= bloodBank.name %></h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5><strong>Email: </strong> <%= bloodBank.contact.email %> </h5>
                                </div>
                                <div class="col-md-6">
                                    <h5><strong>Phone: </strong> <%= bloodBank.contact.phone %> </h5>
                                </div>
                            </div>
                            <h5><strong>Location of the Bank: </strong> <%=  bloodBank.address.street + ", " + bloodBank.address.city + ", "+ bloodBank.address.state %></h5>
                            <p><strong><u>Blood Banks Vault Details (Blood/units):</u> </strong></p>
                            <div class="row">
                                <div class="col-md-3">
                                    <p><strong>O+: </strong><%= bloodBank.currcapacity.opos %></p>
                                </div>
                                <div class="col-md-3">
                                    <p><strong>O-: </strong><%= bloodBank.currcapacity.oneg %></p>
                                </div>
                                <div class="col-md-3">
                                    <p><strong>A+: </strong><%= bloodBank.currcapacity.apos%></p>
                                </div>
                                <div class="col-md-3">
                                    <p><strong>A-: </strong><%= bloodBank.currcapacity.aneg%></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p><strong>B+: </strong><%= bloodBank.currcapacity.bpos%></p>
                                </div>
                                <div class="col-md-3">
                                    <p><strong>B-: </strong><%= bloodBank.currcapacity.bneg%></p>
                                </div>
                                <div class="col-md-3">
                                    <p><strong>AB+: </strong><%= bloodBank.currcapacity.abpos%></p>
                                </div>
                                <div class="col-md-3">
                                    <p><strong>AB-: </strong><%= bloodBank.currcapacity.abneg%></p>
                                </div>
                            </div>

                            <p style="color: rgb(255, 0, 0);">*You can contact Blood Bank using Email or Phone.</p>
                        </div> 
                    <% }); %>
                <% } else { %> 
                    <h>No BloodBank Found!</h4>
                <% } %>
        <% } %>

        <h4>Want to donate blood?</h4> <span><button class="btn btn-xs btn-outline-primary" id="registerBtn" onClick=registerDonor() style="border-radius: 25px;">Register Now!</button></span>
        <div class="registerForm" id="registerForm">
            <form>
                <div style="width: 76vw; border-radius: 25px; box-shadow: 2px 2px 10px 4px rgb(177 177 177 / 40%); margin: 3rem; justify-content: space-evenly; padding: 2rem 2rem">
                    <h2 style="text-align: center; margin-bottom: 1rem;">Donate Blood</h2>
                    <div class="form row">
                        <div class="form-group col-md-6">
                            <label for="First Name">First Name:</label>
                            <input style="border-radius: 25px;" type="text" class="form-control" placeholder="Your Name" name="firstName" id="inputFirstName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Last Name">Last Name:</label>
                            <input style="border-radius: 25px;" type="text" class="form-control" placeholder="Your Last Name" name="lastName" id="inputLastName">
                        </div>
                    </div>
                    <div class="form row">
                        <div class="form-group col-md-4">
                            <label for="inputstateofJob">State</label>
                            <select style="border-radius: 25px;" onchange="print_city('state', this.selectedIndex);" id="donorState" class="form-control"></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCityofJob">City</label>
                            <select style="border-radius: 25px;" id ="state" class="form-control" name="city"></select>
                            <script language="javascript">print_state("donorState");</script>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="pincode">Pin Code</label>
                            <input style="border-radius: 25px;" type="number" class="form-control" name="pinCode" placeholder="Pin Code" id="pinCode" min="0">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="bloodGroup">Blood Group:</label>
                            <input style="border-radius: 25px;" type="text" class="form-control" placeholder="Blood Group" name="bloodGroup" id="bloodGroup">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="diseasesDescription">Details of disesases (if any):</label>
                            <textarea style="border-radius: 25px;" name="diseasesDescription" class="form-control" id="diseasesDescription" cols="30" rows="5" placeholder="Give details if you are suffering from any chronic or acute disesases"></textarea>
                        </div>
                    </div>
                    <div class="form-check">
                        <input style="border-radius: 25px;" class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
                        <label class="form-check-label" for="defaultCheck1">
                          I will bring proper health related certificates with myself during visit.
                        </label>
                    </div>
                    <button style="border-radius: 25px;" type="submit" class="btn btn-outline-success mt-3" style="margin:auto; display: block; width: 30%">Submit!</button>
                </div>
            </form>
        </div>
    
        <h4></h4>
    </div>

    <%- include("../../partials/footer"); -%>
</body>
</html>