<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header"); -%>
<body id="body-pd">
    <%- include("../../partials/altNavbar"); -%>
    <%- include("../../partials/altAdminSideNavbar"); -%>
    <% if(foundDoctors.length > 0) {console.log(foundDoctors)} %>
    <div class="container" style="margin-top: 4rem;">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username: </th>
                <th scope="col">Speciality:</th>
                <th scope="col">Qualifications: </th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% count = 0 %>
                <% foundDoctors.forEach(function(doctor){ count += 1%>
                    <tr>
                        <th scope="row"><%=count %></th>
                        <td><%= doctor.handler.username%> </td>
                        <td><%= doctor.speciality%></td>
                        <td><%= doctor.qual%></td>
                        <td>
                            <a class="btn btn-sm btn-info" style="margin-right:5px ; display: inline;" href="#">View Details</a>
                        </td>
                    </tr>
                <% })%>
            </tbody>
          </table>
          <a href="/" class="btn btn-xs btn-secondary" style=" margin-top: 2rem; float: right;">Go Back!</a>
    </div>
    <%- include("../../partials/footer"); -%>
</body>
</html>